<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>User List</title>
</head>
<body>
    <div>
        <ul>
            <li th:each="user : ${users}">[[${user.getName()}]]</li>
        </ul>
        <div>
            <a th:if="${!page.first}" th:href="@{/users(page = ${page.number} - 1)}" >&lt;&lt;前</a>
            [[${page.getNumber() + 1}]] / [[${page.getTotalPages()}]]
            <a th:if="${!page.last}" th:href="@{/users(page = (${page.number} + 1))}" >次&gt;&gt;</a>
        </div>
    </div>
</body>
</html>
